# Project information
site_name: Monero Documentation
site_description: 'Unofficial Monero Documentation'
site_author: "Piotr 'Qertoip' Włodarek"
site_url: 'https://monerodocs.org'
site_dir: 'public'

copyright: '© 2021 MoneroDocs under <a href="https://opensource.org/licenses/MIT">MIT</a>'

nav:
- Home: 'index.md'
- Interacting:
  - Download: 'interacting/download-monero-binaries.md'
  - Verify: 'interacting/verify-monero-binaries.md'
  - Overview: 'interacting/overview.md'
  - Config file: 'interacting/monero-config-file.md'
  - monerod: 'interacting/monerod-reference.md'
  - monero-wallet-cli: 'interacting/monero-wallet-cli-reference.md'
  - monero-wallet-gui: 'interacting/monero-wallet-gui-reference.md'
  - monero-wallet-rpc: 'interacting/monero-wallet-rpc-reference.md'
  - monero-blockchain-export: 'interacting/monero-blockchain-export-reference.md'
  - monero-blockchain-import: 'interacting/monero-blockchain-import-reference.md'
- Technical specs: 'technical-specs.md'
- Cryptography:
    - Introduction: 'cryptography/introduction.md'
    - Asymmetric:
      - Introduction: 'cryptography/asymmetric/introduction.md'
      - Private keys: 'cryptography/asymmetric/private-key.md'
      - Public keys: 'cryptography/asymmetric/public-key.md'
      - Edwards25519 curve: 'cryptography/asymmetric/edwards25519.md'
      - Key image: 'cryptography/asymmetric/key-image.md'
    - Base58: 'cryptography/base58.md'
    - PRNG: 'cryptography/prng.md'
    - 'Keccak-256': 'cryptography/keccak-256.md'
- Address:
    - Standard: 'public-address/standard-address.md'
    - Subaddress: 'public-address/subaddress.md'
    - Integrated: 'public-address/integrated-address.md'
- Proof of Work:
    - What is PoW?: 'proof-of-work/what-is-pow.md'
    - PoW in Cryptocurrencies: 'proof-of-work/pow-in-cryptocurrencies.md'
    - CryptoNight: 'proof-of-work/cryptonight.md'
    - RandomX: 'proof-of-work/random-x.md'
- Multisignature: 'multisignature.md'
- Infrastructure:
    - Mainnet, stagenet, testnet: 'infrastructure/networks.md'
    - Tor onion seed nodes: 'infrastructure/tor-onion-p2p-seed-nodes.md'
    - MoneroPulse: 'infrastructure/monero-pulse.md'
- Running a Node:
  # - On your Laptop: 'localhost-node.md'
  # - Remote Node: 'remote-node.md'
  # - Open Remote Node: 'open-remote-node.md'
  - Open Node + Tor Onion: 'running-node/open-node-tor-onion.md'
- Accepting Monero:
    - Overview: 'accepting-monero/overview.md'

theme:
  name: null
  custom_dir: mkdocs-material/material

  # 404 page
  static_templates:
    - 404.html

  # Necessary for search to work properly
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png

  palette:
    primary: white
    accent: indigo
  icon:
    logo: logo
  logo: 'images/monero.svg'

extra_css: ['overrides.css']

repo_name: 'monerodocs/md'
repo_url: 'https://github.com/monerodocs/md'

markdown_extensions:
  # https://squidfunk.github.io/mkdocs-material/extensions/admonition/
  - admonition
  - abbr
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.highlight:
      use_pygments: true         # build time highlighting, not client side
  - pymdownx.inlinehilite
  - pymdownx.superfences         # nest code blocks inside codeblocks
  - pymdownx.snippets            # insert content from other files

plugins:
  - search
  - minify:
      minify_html: true
      minify_js: true
      htmlmin_opts:
        remove_comments: true
